# Compilados Java
*.class

# Pastas de build
target/
build/
bin/
out/

# IDEs
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Sistema
.DS_Store

# Chaves e credenciais (NUNCA subir isso ao GitHub)
api-key.txt
*.env
secrets.properties

